### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
downloads/
lib/
parts/
sdist/
MANIFEST

# Local stuff:
*.log

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### My files
_arc/
_tmp/